a       { text-decoration: none; }
a:hover { text-decoration: underline; }

header {
  .row {
    height: 137px;
  }

  ul {
    font-family: "AntennaCond-Regular";
    margin-top: -35px;

    img {
      margin-top: 35px;
    }
  }

  li:nth-child(2) {
    margin-left: 45px;
  }
}

#register {
  margin: 70px 50px 0 0;

  a {
    display: block;
    background: image-url('register.png') no-repeat;
    width: 106px;
    height: 42px;
    margin: 0 auto;
    color: transparent;
  }
  a:hover { background: image-url('register-hover.png') no-repeat; }

  #date {
    color: #767676;
    font-family: Antenna-Bold;
    font-size: emCalc(12px);
    margin: 10px auto 0;
    text-align: center;
  }
}

header, footer {
  background: #232323;
  border-bottom: 2px solid white;
  font-family: Antenna-Regular;

  li {
    font-size: 15px;
    display: inline;
    margin-right: 45px;

    a {
      color: #E3E2E3;
      text-transform: uppercase;

      &:hover {
        color: #E3E2E3;
      }

      &:active {
        color: #5e5e5e;
      }

    }
  }
}

footer {
  color: #ffffff;

  ul.nav {
    font-family: "AntennaCond-Regular";
    margin-top: 57px;
    margin-bottom: 52px;
  }

  ul.past_years {
    margin-top: 20px;
    font-size: 11px;

    li {
      background-image: image-url('ruby-icon.png');
      background-repeat: no-repeat;
      padding-left: 34px;
      margin-right: 30px;
    }
  }

  .credits {
    color: #5e5e5e;
    margin-bottom: 60px;
    font-size: 12px;
    margin-top: 26px;

    a {
      color: #ffffff;

      &:hover {
        color: #ffffff;
      }
    }

    #bar {
      color: #ffffff;
    }
  }
}
