#featured-speakers {
  .featured-speakers-heading {
    @include title-ribbon;
    background-color: #f9bf12;
  }

  .featured-speakers-list {
    text-transform: uppercase;
    background: image-url('speaker-bg.jpg') no-repeat center center;
    background-size: cover;
    padding-top: 108px;
    padding-bottom: 108px;
  }
  
  .featured-speaker {
    text-align: center;

    img {
      border: 5px solid white;
    }
  }
  
  .featured-speaker-name {
    font-family: 'Square721BT-Bold';
    color: #ffffff;
    margin-top: 22px;
    letter-spacing: 1px;
  }

  .featured-speaker-title {
    font-family: 'AntennaCond-Regular';
    color: #6a2045;
    margin-top: 6px;
    font-size: 14px;
  }  
}
