.robot-group {
  background-image: url(../images/grey-noise-bg.jpg);
  height: 404px;
  border-top: 1px solid #ededed;
  text-align: center;
}

.footer-overlap {
  height: 200px;
  background-color: #232323;
}
