#the-big-idea {
  .the-big-idea-heading {
    @include title-ribbon;
    margin-top: -44px;
  }

  .the-big-idea-content {
    color: #595959;
    font-family: "Antenna-Regular";
    background-image: image-url('grey-noise-bg.jpg');
    padding-top: 108px;
    padding-bottom: 64px;

    .speech-bubble {
      background-image: image-url('speech-bubble.png');
      background-repeat: no-repeat;
      height: 104px;
      font-family: 'Antenna-Regular';
      text-transform: uppercase;
      font-size: 24px;
      line-height: 1.3em;
      padding-left: 58px;
      padding-top: 20px;
      color: #ffffff;
    }

    p {
      margin-top: 30px;
      margin-right: 30px;
    }

    h4 {
      background-image: image-url('heading_underoverline.png');
      background-repeat: repeat-x;
      height: 71px;
      font-family: 'Square721BT-Bold';
      text-transform: uppercase;
      color: #464444;
      font-size: 16px;
      padding-top: 26px;
    }

    ul {
      list-style-type: none;
      margin-top: 10px;

      li {
        background-image: image-url('tick.png');
        background-repeat: no-repeat;
        background-position-x: 10px;
        background-position-y: center;
        margin-top: 12px;
        padding-left: 56px;
      }
    }
  }
}
