#banner {
  background: url(../images/header-bg.jpg) no-repeat center center;
  background-size: auto 525px;
  text-transform: uppercase;
  color: #14414f;
  text-shadow: 2px 2px #def1fb;
  height: 525px;

  .banner-title {
    font-family: 'Square721BT-BoldExtended';
    margin-top: 130px;
    font-size: 52px;
    line-height: 1.15em;
  }

  .banner-subtitle {
    font-family: 'Square721BT-RomanExtended';
    margin-top: 7px;
    font-size: 29px;
    line-height: 1.3em;
  }

  .banner-button {
    margin-top: 35px;
    background-color: #d61a69;
    font-family: 'Square721BT-Bold';
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 1px;
    padding: 20px 40px;
  }

  .banner-robot {
    margin-top: 50px;
  }
}
