#basic-info {
  text-transform: uppercase;
  background-color: #f9bf12;
  color: #836408;
  padding-bottom: 64px;
  
  .leading-strip {
    background-image: url('../images/3D-bg.png');
    height: 50px; 
    margin-bottom:64px; 
  }

  .sponsor-arrow {
    background-image: url('../images/sponsor-arrow.png');
    background-repeat: no-repeat;
    height: 185px;
  }

  .sponsor-arrow-caption {
    font-family: "AntennaCond-Regular";
    margin-left: 40px;
  }

  .gogaruco-when-where {
    width: 285px;
    background-image: url('../images/basic_info_background.png');
    background-repeat: repeat-x;
    height: 176px;
    text-shadow: 0px 1px #fdebb6;
  }
  
  .gogaruco-when-where-heading {
    font-size: 32px;
    letter-spacing: 1px; 
    word-spacing: 1px;
  }
  
  .gogaruco-when-where-address-line1 {
    font-family: 'Square721BT-RomanExtended';
    font-size: 16px;
    letter-spacing: 4px; 
    word-spacing: 3px; 
    margin-top: 39px;
  }

  .gogaruco-when-where-address-line2 {
    font-family: 'Square721BT-RomanExtended';
    font-size: 16px;
    letter-spacing: 3px; 
    word-spacing: 0; 
    margin-top: 10px;
  }

  .gogaruco-when-where-dates {
    font-family: 'Square721BT-BoldExtended';
    font-size: 16px;
    letter-spacing: 4px;
    word-spacing: 1px; 
    margin-top: 28px;
  }
  
  .usa-map {
    margin-top: 20px; 
    padding-left: 25px;
  }

  .countdown {
    margin-top: 20px;
    padding-top: 20px;
    background-image: url('../images/timer-bg.png');
    height: 136px;
    width: 257px;
    text-align: center;
    color: #9d780f;
  }
  
  .countdown-number {
    font-size: 72px;
  }

  .countdown-caption {
    font-size: 20px;
    font-family: 'Square721BT-RomanExtended';
    color: #836408;
  }
}
