#banner {
  background: image-url('header-bg.jpg') no-repeat center center;
  background-size: auto 525px;
  text-transform: uppercase;
  color: #14414f;
  text-shadow: 2px 2px #def1fb;
  height: 525px;

  .row {
    height: 525px;
    position: relative;
  }
  .banner-title {
    font-family: 'Square721BT-BoldExtended';
    margin-top: 130px;
    font-size: 52px;
    line-height: 1.15em;
  }

  .banner-subtitle {
    font-family: 'Square721BT-RomanExtended';
    margin-top: 7px;
    font-size: 29px;
    line-height: 1.3em;
  }

  .annotated-button {
    overflow: hidden;
    margin-top: 35px;
    text-transform: none;

    .banner-button, .annotation { float: left; }
  }

  a.banner-button {
    display: block;
    color: #FFFFFF;
    background-color: #d61a69;
    font-family: 'Square721BT-Bold';
    font-size: 16px;
    text-transform: uppercase;
    text-shadow: none;
    font-weight: normal;
    letter-spacing: 1px;
    span {
      display: block;
      margin: 8px;
      border: 2px solid #B70054;
      padding: 18px 28px 16px 28px;
    }
  }
  a.banner-button:hover {
    text-decoration: none;
    background-color: darken(#d61a69, 20%);
  }
  .annotation {
    padding: 20px;
    line-height: 32px;
    a {color: #6a2045;}
  }

  .banner-robot {
    position: absolute;
    bottom: -40px;
    right: -20px;
  }
}
