#small_banner {
  background: image-url('header-bg.jpg') no-repeat bottom center;
  background-size: auto 400px;
  text-transform: uppercase;
  height: 224px;

  .event-sponsors-heading {
    @include title-ribbon;

    h2 {
      margin-top: 73px;
    }
  }

  img {
    position: relative;
    bottom: 153px;
    height: 230px;
    left: 290px;
  }
}

#sponsoring {
  padding-top: 65px;
  padding-bottom: 67px;
  text-align: center;
  background-color: #f9bf12;
  color: #836407;
  line-height: 1.9em;

  a {
    color: #ffefbe;
  }

  #about-sponsoring {
    font-size: emCalc(19px);

    strong {
      font-family: "Antenna-Bold";
    }
  }

  #learn-more {
    font-size: emCalc(16px);
    display: block;
    margin-top: 0.5em;
  }
}

#diamond-sponsors-heading {
  @include title-ribbon;
  background-color: #f9bf12;
}

#diamond-sponsors {
  padding-top: 107px;
  background: image-url('speaker-bg.jpg') no-repeat center center;
  background-size: cover;

  .sponsor-image {
    width: 260px;
    height: 260px;
    border: 3px solid #852050;
    text-align: center;
    margin: 0 auto;
    background-color: white;
    display: table-cell;
    vertical-align: middle;
  }

  p {
    display: block;
    margin-top: 20px;
    color: white;
    font-size: emCalc(16px);
    line-height: 1.6em;

    em {
      font-style: normal;
      color: #6a2045;
    }
  }
}