#small_banner {
  background: image-url('header-bg.jpg') no-repeat bottom center;
  background-size: auto 400px;
  text-transform: uppercase;
  height: 224px;

  .event-sponsors-heading {
    @include title-ribbon;

    h2 {
      margin-top: 73px;
    }
  }

  img {
    position: relative;
    bottom: 153px;
    height: 230px;
    left: 290px;
  }
}

#sponsoring {
  padding-top: 65px;
  padding-bottom: 67px;
  text-align: center;
  background-color: #f9bf12;
  color: #836407;
  line-height: 1.9em;

  a {
    color: #ffefbe;
  }

  #about-sponsoring {
    font-size: emCalc(19px);

    strong {
      font-family: "Antenna-Bold";
    }
  }

  #learn-more {
    font-size: emCalc(16px);
    display: block;
    margin-top: 0.5em;
  }
}

#diamond-sponsors-heading {
  @include title-ribbon;
  background-color: #f9bf12;
}

#diamond-sponsors {
  background: image-url('speaker-bg.jpg') no-repeat center center;
  background-size: cover;

  .sponsor-image {
    width: 260px;
    height: 260px;
    border: 6px solid #852050;
  }

  p {
    display: block;
    margin-top: 20px;

    em {
      color: #6a2045;
    }
  }
}

#platinum-sponsors-heading {
  @include title-ribbon;
  margin-top: -44px;
}

#platinum-sponsors {
  background-image: image-url('whats-new-bg.jpg');

  .sponsor-image {
    width: 163px;
    height: 163px;
    border: 4px solid #388f12;
  }

  p {
    em {
      color: #beef54;
    }
  }
}

#gold-sponsors-heading {
  @include title-ribbon;
  margin-top: -44px;
}

#gold-sponsors {
  background-image: image-url('whats-new-bg.jpg');

  .sponsor_wrapper {
    width: 171px;
    margin: 0 auto;
    display: block;
    margin-bottom: 26px;
  }

  .sponsor-image {
    width: 163px;
    height: 163px;
    border: 4px solid #015d80;
  }

  p {
    em {
      color: #64d5ff
    }
  }
}

#silver-sponsors-heading {
  @include title-ribbon;
  margin-top: -44px;
}

#silver-sponsors {
  background-image: image-url('whats-new-bg.jpg');

  .sponsor_wrapper {
    width: 171px;
    margin: 0 auto;
    display: block;
    margin-bottom: 26px;
  }

  .sponsor-image {
    width: 163px;
    height: 163px;
    border: 4px solid #015d80;
  }

  p {
    color: #836408;
    em {
      color: #ffefbe;
    }
  }
}

.sponsor_section {
  padding-top: 107px;
  padding-bottom: 77px;
  .sponsor-image {
    text-align: center;
    margin: 0 auto;
    background-color: white;
    display: table-cell;
    vertical-align: middle;
  }

  p {
    color: white;
    font-size: emCalc(16px);
    line-height: 1.6em;

    em {
      font-style: normal;
    }
  }
}

.tweeter_section {
  background-color: #00adbb;
  padding-top: 50px;
  padding-bottom: 84px;

  .tweet {
    float: left;
    background: image-url('tweet-bg.png');
    background-repeat: no-repeat;
    background-position: 75px 0px;

    * {
      float: left;
    }

    p {
      padding: 17px 0 0 25px;
      display: block;
      width: 800px;
      height: 91px;
      color: white;
    }
  }

}