@import 'fonts-square-721';
@import 'fonts-antenna';
@import 'foundation-overrides';
@import 'foundation';

body {
  -webkit-font-smoothing: antialiased;
}

.center {
  text-align: center;
}

.leading-strip {
  background-image: image-url('3D-bg.png');
  height: 50px;
}

@mixin title-ribbon {
  margin: 0 auto;
  text-align: center;
  height: 44px;

  h2 {
    height: 88px;
    color: #efefef;
    float: left;
    width: 100%;
    background: image-url('title-ribbon.png') no-repeat center center;
    text-transform: uppercase;
    font-family: 'Square721BT-BoldExtended';
    font-size: 26px;
    padding: 24px 0;
    margin-top: 0;
  }
}

@import 'layout';
@import 'section-banner';
@import 'section-basic-info';
@import 'section-featured-speakers';
@import 'section-the-big-idea';
@import 'section-conduct';
@import 'section-sponsors';
@import 'section-robot-footer';

@import 'sponsors';
@import 'location';
@import 'registration';

#featured-speakers-list {

  padding-top: 65px;
  padding-bottom: 67px;
  background-color: #f9bf12;
  color: #836407;
  line-height: 1.9em;

  a {
    color: #ffefbe;

    &:hover {
      color: #6a2045;
      text-decoration: none;
    }
  }

  .divider {
    background: image-url('diagonal-divider.png') no-repeat;
    height: 11px;
    margin-bottom: 33px;
    margin-top: 23px;
  }

  .large-3 {
    img {
      border: 5px solid white;
      margin-bottom: 22px;
    }

    h2 {
      font-family: 'Square721BT-Bold';
      color: white;
      font-size: emCalc(18px);
      text-transform: uppercase;
      text-align: center;
    }

    p {
      font-size: emCalc(16px);
    }

  }

}

a.image_link {
  text-decoration: none;
}

#speakers-roster {
  padding-top: 70px;
  padding-bottom: 70px;
  background: image-url('speaker-bg.jpg');
  color: white;
  line-height: 1.6em;

  img.speaker-image {
    border: 5px solid white;
  }

  .row {
    padding-top: 40px;
  }
  .speaker-name {
    font-size: emCalc(18px);
    display: block;
    margin-bottom: 10px;
    font-family: 'Square721BT-Bold';
    text-transform: uppercase;

    a {
      color: white;

      &:hover {
        color: #f9bf12;
        text-decoration: none;
      }
    }
  }
  .byline {
    color: #a2a2a2;
    font-size: emCalc(16px);
  }
}

#sponsors-heading {
  @include title-ribbon;
  margin-top: -44px;
  position: relative;
}

#sponsors {
  background-image: image-url('grey-noise-bg.jpg');
  text-align: center;
  padding: 70px 0;

  .sponsor_level {
    @media screen and (max-width: 800px) {
      height: 280px;
    }
    height: 200px;

    @media screen and (max-width: 800px) {
      &.secondary {
        position: relative;
        top: -280px !important;
        height: 0px;
      }
    }

    &.secondary {
      position: relative;
      top: -200px;
      height: 0px;
    }

    span {
      font-size: emCalc(13px);
      color: #797979;
      font-family: 'Square721BT-Roman';
      text-transform: uppercase;
      padding-bottom: 20px;
      display: block;
    }

    ul {
      padding: 25px 0 5px 0;
      li {
        display: inline;

        img {
          max-height: 100px;
          max-width: 185px;
          padding: 0 10px;
        }
      }
    }
  }

  .prospectus {
    margin-top: 12px;
    display: block;
    font-size: emCalc(12px);
    font-weight: bolder;
    color: #484848;
    text-decoration: underline;
    width: 100%;
  }
}

.hidden {
  display: none;
}

#team {
  h2 {
    font-family: 'Square721BT-Bold';
    font-size: emCalc(20px);
    color: white;
    text-transform: uppercase;
  }

  a {
    color: white;
  }

  background-color: #f9bf12;
  color: #836407;
  line-height: 1.9em;
  padding: 68px 0px;

  img {
    border: 4px solid white;
  }

  .row {
    margin-bottom: 40px;
  }

  .podium {
    position: relative;
    width: 66.66667%;
    float: left;

    img {
      width: 460px;
      border: 4px solid white;
    }
  }
}

#volunteers-heading {
  @include title-ribbon;
  margin-top: -44px;
  position: relative;
}

#volunteers {
  padding: 68px 0;
  background: image-url('speaker-bg.jpg');
  color: white;

  img {
    width: 100%;
  }

  .volunteer {
    display: inline-block;
    width: 16.7%;
    padding: 0.5em 0.875em;
  }

  a.volunteer-url {
    font-family: 'Square721BT-Bold';
    color: white;
    font-size: emCalc(16px);
    margin-top: 16px;
    display: block;
    text-align: center;
    text-transform: uppercase;
  }

  .volunteer-title {
    display: block;
    margin-top: 13px;
    color: #6a2045;
    font-size: emCalc(15px);
    text-align: center;
    text-transform: uppercase;
    font-family: "AntennaCond-Regular";
  }

  img {
    border: 4px solid white;
  }
}

#about-code-of-conduct-heading {
  @include title-ribbon;
  margin-top: -44px;
}

#about-code-of-conduct {
  background-image: image-url('whats-new-bg.jpg');
  padding-bottom: 66px;

  #conduct-policy {
    background: image-url('green-bubble-wide-bg.png') no-repeat;
    padding: 26px 74px 26px 84px;
    color: white;
  }

  p {
    a {
      color: #beef54;
    }
  }
}

#kick-off-party {
  padding-top: 65px;
  padding-bottom: 67px;
  text-align: center;
  background-color: #f9bf12;
  color: #836407;
  text-transform: uppercase;
  font-family: 'Square721BT-RomanExtended';

  strong {
    font-family: 'Square721BT-BoldExtended';
  }

  #kick-off-party-info {
    background-color: #d9a60e;
    padding: 40px 0;
    @include radius(10px);
  }

  .event-details span {
    display: block;
    padding-bottom: 7px;
  }
}

#daily-sessions-header {
  @include title-ribbon;
  margin-top: -44px;
}

#daily-sessions {
  background-image: image-url('grey-noise-bg.jpg');
  text-align: center;
  padding: 70px 0;

  table {
    width: 100%;
    text-align: left;
    background-color: transparent;
    border-spacing: 3px;
    border-collapse: separate;

    strong {
      font-family: 'Antenna-Bold';
    }

    th.cell-main { width: 42%; }
    td, th {
      padding: 25px;
    }

    td:nth-child(1), th:nth-child(1) {
      background-color: #a9a9a9;
      text-align: center;
    }

    thead {
      text-transform: uppercase;
      font-size: emCalc(25px);

      th {
        margin: 4px;
        font-family: 'Antenna-Bold';
        background-color: #1f1f1f;
        color: white;
      }
    }

    tbody {
      tr {
        &:nth-child(odd) {
          background-color: #e4e4e4;
        }
        &:nth-child(even) {
          background-color: #dbdbdb;
        }
        &.food {
          .name {
            color: #ffffff;
          }

          .speaker, .note {
            color: #005057;
          }

          .byline {
            color: #e5e5e5;
          }

          background-color: #00adbb;
          td {
            background-color: #00adbb;
          }
        }

        &.other {
          background-color: #a9a9a9;

          .name {
            color: #ffffff;
          }

        }

        .name {
          font-size: emCalc(20px);
          color: #009ba8;
          font-family: 'Square721BT-Bold';
        }

        .speaker, .note {
          color: #595959;
          font-size: emCalc(16px);
        }

        .slides {
          color: #d61a69;
          font-weight: bold;
        }

        .byline {
          color: #a2a2a2;
          font-size: emCalc(16px);
        }
      }
    }
  }
}

#schedule-descriptions-header {
  @include title-ribbon;
  margin-top: -44px;
}

#schedule-descriptions {
  padding-top: 70px;
  padding-bottom: 70px;
  background: image-url('speaker-bg.jpg');
  color: white;
  line-height: 1.6em;

  img {
    border: 3px solid white;
  }

  .talk-title {
    font-size: emCalc(18px);
    display: block;
    margin-bottom: 2px;
    font-family: 'Square721BT-Bold';
    text-transform: uppercase;

    a {
      color: white;

      &:hover {
        color: #f9bf12;
        text-decoration: none;
      }
    }
  }

  .speaker-name {
    color: #75234e;
    font-family: 'AntennaCond-Regular';
    text-transform: uppercase;
    display: block;
    margin-bottom: 12px;
  }
}
