// Zurb override to make the total width 1170px
$row-width: 73.125em !default;
@import 'foundation';

@import 'fonts-square-721';
@import 'fonts-antenna';

body {
  font-family: Square721BT-BoldExtended;
  -webkit-font-smoothing: antialiased;
}

header {
  .row {
    height: 137px;
  }

  ul {
    font-family: "AntennaCond-Regular";
    margin-top: -35px;
    img {
      margin-top: 35px;
    }
  }

  li:nth-child(2) {
    margin-left: 45px;
  }
}

header, footer {
  background: #232323;
  border-bottom: 2px solid white;
  font-family: Antenna-Regular;

  li {
    font-size: 15px;
    display: inline;
    margin-right: 45px;

    a {
      color: #E3E2E3;
      text-transform: uppercase;

      &:hover {
        color: #E3E2E3;
        text-decoration: underline;
      }
    }
  }
}

.action {
  background: url(../images/header-bg.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-transform: uppercase;
  color: #14414f;
  text-shadow: 2px 2px #def1fb;
  height: 525px;

  .tagline {
    display: block;
    margin-top: 130px;
    font-size: 52px;
    line-height: 1.15em;
  }

  .sub-tagline {
    display: block;
    margin-top: 7px;
    font-size: 29px;
    line-height: 1.3em;
  }

  button {
    margin-top: 35px;
    background-color: #d61a69;
    font-family: 'Square721BT-Bold';
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 1px;
    padding: 20px 40px;
  }

  img {
    margin-top: 50px;
  }
}

.basic_info {
  text-transform: uppercase;
  background-color: #f9bf12;
  color: #836408;

  .row {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  #our_sponsors {
    font-family: "AntennaCond-Regular";

    #sponsor_arrow {
      background-image: url('../images/sponsor-arrow.png');
      background-repeat: no-repeat;
      height: 185px;
    }

    #we_heart_em {
      margin-left: 40px;
    }
  }

  #location_and_date {
    width: 285px;
    background-image: url('../images/basic_info_background.png');
    background-repeat: repeat-x;
    height: 176px;
    text-shadow: 0px 1px #fdebb6;

    span {
      display: block;
    }

    .large {
      font-size: 32px;
    }

    .smaller {
      font-size: 16px;

    }
  }

  #days_until_conference {
    padding-top: 20px;
    background-image: url('../images/timer-bg.png');
    height: 136px;
    width: 257px;
    text-align: center;
    color: #9d780f;

    #number {
      font-size: 72px;
    }
  }

  .subtext {
    font-size: 20px;
    font-family: 'Square721BT-RomanExtended';
    color: #836408;
  }
}

.ribbon {
  margin: 0 auto;
  text-align: center;
  height: 44px;

  h2 {
    height: 88px;
    color: #efefef;
    float: left;
    width: 100%;
    background: url(../images/title-ribbon.png) no-repeat center center;
    text-transform: uppercase;
    font-family: 'Square721BT-BoldExtended';
    font-size: 26px;
    padding: 24px 0;
    margin-top: 0;
  }
}

#guest_speakers {
  text-transform: uppercase;
  background: url(../images/speaker-bg.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .row {
    padding-top: 108px;
    padding-bottom: 108px;
  }

  .speaker {
    text-align: center;

    img {
      border: 5px solid white;
    }

    span {
      display: block;

      &.name {
        font-family: 'Square721BT-Bold';
        color: #ffffff;
        margin-top: 22px;
        letter-spacing: 1px;
      }

      &.title {
        display: block;
        font-family: 'AntennaCond-Regular';
        color: #6a2045;
        margin-top: 6px;
        font-size: 14px;
      }
    }
  }
}

#the_big_idea {
  color: #595959;
  font-family: "Antenna-Regular";

  .ruby-background {
    background-image: url(../images/ruby.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 108px;
    padding-bottom: 64px;
  }

  #join_us {
    background-image: url(../images/speech-bubble.png);
    background-repeat: no-repeat;
    height: 104px;
    font-family: 'Antenna-Regular';
    text-transform: uppercase;
    font-size: 24px;
    line-height: 1.3em;
    padding-left: 58px;
    padding-top: 20px;
  }

  p {
    font-size: 14px;
    width: 430px;
    display: block;
    margin-top: 30px;
    line-height: 1.8em;
  }

  h4 {
    background-image: url(../images/heading_underoverline.png);
    background-repeat: repeat-x;
    height: 71px;
    font-family: 'Square721BT-Bold';
    text-transform: uppercase;
    color: #464444;
    font-size: 18px;
    padding-top: 26px;
  }

  ul {
    font-size: 14px;
    list-style-type: none;

    li {
      height: 30px;
      background-image: url(../images/tick.png);
      background-repeat: no-repeat;
      background-position-x: 20px;
      margin-top: 22px;
      padding-left: 64px;
      width: 274px;

      &:nth-child(4) {
        margin-top: 15px;
      }
    }
  }
}

.sponsors {
  border-bottom: 1px solid #cacaca;
  background-image: url(../images/grey-noise-bg.jpg);
}

.robot-group {
  background-image: url(../images/grey-noise-bg.jpg);
  height: 404px;
  border-top: 1px solid #ededed;
  text-align: center;
}

.footer-overlap {
  height: 200px;
  background-color: #232323;
}

footer {
  color: #ffffff;

  ul.nav {
    font-family: "AntennaCond-Regular";
    margin-top: 57px;
    margin-bottom: 52px;
  }

  ul.past_years {
    margin-top: 20px;
    font-size: 11px;

    li {
      background-image: url(../images/ruby-icon.png);
      background-repeat: no-repeat;
      padding-left: 34px;
      margin-right: 30px;
    }
  }

  .credits {
    color: #5e5e5e;
    margin-bottom: 60px;
    font-size: 12px;
    margin-top: 26px;

    a {
      color: #ffffff;

      &:hover {
        color: #ffffff;
        text-decoration: underline;
      }
    }

    #bar {
      color: #ffffff;
    }
  }
}

.center {
  text-align: center;
}

.light_extended {
  font-family: 'Square721BT-RomanExtended';
}

.bold_extended {
  font-family: 'Square721BT-BoldExtended';
}
