@import 'fonts-square-721';
@import 'fonts-antenna';
@import 'foundation-overrides';
@import 'foundation';

body {
  -webkit-font-smoothing: antialiased;
}

.center {
  text-align: center;
}

.leading-strip {
  background-image: image-url('3D-bg.png');
  height: 50px;
}

@mixin title-ribbon {
  margin: 0 auto;
  text-align: center;
  height: 44px;

  h2 {
    height: 88px;
    color: #efefef;
    float: left;
    width: 100%;
    background: image-url('title-ribbon.png') no-repeat center center;
    text-transform: uppercase;
    font-family: 'Square721BT-BoldExtended';
    font-size: 26px;
    padding: 24px 0;
    margin-top: 0;
  }
}

@import 'layout';
@import 'section-banner';
@import 'section-basic-info';
@import 'section-featured-speakers';
@import 'section-the-big-idea';
@import 'section-conduct';
@import 'section-sponsors';
@import 'section-robot-footer';

@import 'sponsors';

#location {
  h2 {
    font-family: 'Square721BT-Bold';
    font-size: emCalc(20px);
    color: white;
    text-transform: uppercase;
  }

  background-color: #f9bf12;
  color: #836407;
  line-height: 1.9em;
  padding: 68px 0px;

  .thumbs {
    position: relative;
    width: 33.33333%;
    float: left;

    img {
      border: 4px solid white;
      margin-bottom: 10px;
      width: 77px;
      margin-left: 10px;
    }

    div {
      padding: 0 10px;
    }
  }

  .podium {
    position: relative;
    width: 66.66667%;
    float: left;

    img {
      width: 460px;
      border: 4px solid white;
    }
  }
}

#directions-map {
  height: 400px;
  width: 100%;
}

#getting-around-heading {
  @include title-ribbon;
  margin-top: -44px;
  position: relative;

}

#getting-around {
  p {
    line-height: 1.6em;
    font-size: emCalc(16px);
  }

  padding: 68px 0;
  background: image-url('speaker-bg.jpg');
  color: white;

  h3 {
    font-family: 'Square721BT-Bold';
    color: white;
    font-size: emCalc(20px);
  }

  strong, .public-transit {
    font-size: emCalc(16px);
    font-family: 'Antenna-Bold';
  }

  .public-transit {
    text-decoration: underline;
  }

  img {
    border: 4px solid white;
  }
}


#registration {
  padding-top: 65px;
  padding-bottom: 67px;
  background-color: #f9bf12;
  color: #836407;
  line-height: 1.7em;

  a {
    color: #ffefbe;
  }

  h1 {
    font-family: 'Square721BT-Bold';
    font-size: emCalc(20px);
    color: white;
    text-transform: uppercase;
    margin-bottom: 1.2em;
  }

  #about-registration {
    font-size: emCalc(16px);


    strong {
      font-family: "Antenna-Bold";
    }
  }

  #refunds {
    margin-top: 2em;
    background: image-url('yellow-text-bubble.png') no-repeat;
    padding: 26px 100px 26px 32px;
    line-height: 1.2em;

    h2 {
      font-size: emCalc(13px);
      font-family: 'Antenna-Regular';
      color: #836407;
    }

    #learn-more {
      font-size: emCalc(13px);
    }
  }
}

#code-of-conduct-heading {
  @include title-ribbon;
  background-color: #f9bf12;
}

#code-of-conduct {
  background: image-url('speaker-bg.jpg');

  #policy {
    margin: 3em 0;
    font-size: emCalc(16px);
    color: white;
    background: image-url('pink-bubble-bg.png') no-repeat;
    padding-left: 51px;

    p:first-child {
      padding-top: 40px;
    }

    p {
      padding: 5px 40px 0px 40px
    }

    p:last-child {
      padding-bottom: 40px;
    }

  }
}