#location {
  h2 {
    font-family: 'Square721BT-Bold';
    font-size: emCalc(20px);
    color: white;
    text-transform: uppercase;
  }

  background-color: #f9bf12;
  color: #836407;
  line-height: 1.9em;
  padding: 68px 0px;

  .thumbs {
    position: relative;
    width: 33.33333%;
    float: left;

    img {
      border: 4px solid white;
      margin-bottom: 10px;
      width: 77px;
      margin-left: 10px;
    }

    div {
      padding: 0 10px;
    }
  }

  .podium {
    position: relative;
    width: 66.66667%;
    float: left;

    img {
      width: 460px;
      border: 4px solid white;
    }
  }
}

#directions-map {
  height: 400px;
  width: 100%;
}

#getting-around-heading {
  @include title-ribbon;
  margin-top: -44px;
  position: relative;

}

#getting-around {
  p {
    line-height: 1.6em;
    font-size: emCalc(16px);
  }

  padding: 68px 0;
  background: image-url('speaker-bg.jpg');
  color: white;

  h3 {
    font-family: 'Square721BT-Bold';
    color: white;
    font-size: emCalc(20px);
  }

  strong, .public-transit {
    font-size: emCalc(16px);
    font-family: 'Antenna-Bold';
  }

  .public-transit {
    text-decoration: underline;
  }

  img {
    border: 4px solid white;
  }
}
