@font-face {
  font-family: "Antenna-Regular";
  src: url("../fonts/Antenna-Regular.otf") format("opentype"); }

@font-face {
  font-family: "Antenna-Bold";
  src: url("../fonts/Antenna-Bold.otf") format("opentype"); }

@font-face {
  font-family: "AntennaCond-Regular";
  src: url("../fonts/AntennaCond-Regular.otf") format("opentype"); }
