<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>GoGaRuCo 2010: {{ page.title }}</title>
  <link href="stylesheets/styles.css" rel="stylesheet" type="text/css" media="screen" />
  <link href="stylesheets/facebox.css" rel="stylesheet" type="text/css" media="screen" />
  <script src="javascripts/jquery.js"></script>
  <script src="javascripts/jquery.bxcarousel.min.js"></script>
  <script src="javascripts/facebox.js"></script>
  <script src="javascripts/application.js"></script>
  <!--[if IE 6]>
  <script src="javascripts/pngfix.js"></script>
  <script>
  DD_belatedPNG.fix('#logo');
  DD_belatedPNG.fix('.button');
  </script>
  <![endif]-->
</head>
<body>
<div id="wrapper">
  <div id="header"> <a href="index.html"><img src="images/logo.png" id="logo" /></a>
    <div class="hdrcopy">
      <p class="when">September 17-18, 2010</p>
      <p class="where">San Francisco, California at
        <a href="/location.html">UCSF Mission Bay</a></p>
      <div class="cta">
        <p><strong>Space is limited</strong></p>
        <p class="button"><a href="register.html">Register Now!</a></p>
      </div>
    </div>
    <ul id="nav_top">
      <li {{ page.nav_class_home      }}><a href="index.html">Home</a></li>
      <li {{ page.nav_class_speakers  }}><a href="speakers.html">Speakers</a></li>
      <li {{ page.nav_class_schedule  }}><a href="schedule.html">Schedule</a></li>
      <li {{ page.nav_class_sponsors  }}><a href="sponsors.html">Sponsors</a></li>
      <li {{ page.nav_class_community }}><a href="community.html">Community</a></li>
      <li {{ page.nav_class_location  }}><a href="location.html">Location</a></li>
      <li {{ page.nav_class_register  }}><a href="register.html">Register</a></li>
    </ul>
  </div><!-- /header -->

  <div id="contentwrapper">
    <div id="col_main">
      <div id="content">

        {{ content }}

      </div>
    </div><!-- /col_main -->

    <div id="col_right">
      <h2>Brought To You By</h2>
      <div class="our_lovable_5p0n50rz">
        <div>
          <h3>Platinum Sponsors</h3>
          <p><a href="http://www.newrelic.com"><img src="images/logo_newrelic.png" width="150" alt="New Relic" title="New Relic" /></a></p>
          <p><a href="http://www.pivotallabs.com"><img src="images/logo_pivotal.gif" width="150" alt="Pivotal Labs" title="Pivotal Labs"></a></p>
          <p><a href="http://www.involver.com"><img src="images/logo_involver.png" width="150" alt="Involver" title="Involver"></a></p> 
          <p><a href="http://www.yammer.com"><img src="images/logo_yammer.png" width="175" alt="Yammer" title="Yammer"></a></p>
          <p><a href="http://www.wildfireapp.com"><img src="images/logo_wildfire.png" width="100" alt="Wildfire" title="Wildfire"></a></p> 
        </div>
        <!-- <div>
          <h3>Gold Sponsors</h3>
        </div> -->
        <div>
          <h3>Silver Sponsors</h3>
          <p><a href="http://www.scribd.com"><img src="images/logo_scribd.jpg" width="140" alt="Scribd" title="Scribd" /></a></p>
          <p><a href="http://www.orange-ftgroup.com"><img src="images/logo_orange.png" width="90" alt="Orange Labs" title="Orange Labs" /></a></p>
          <p><a href="http://www.engineyard.com"><img src="images/logo_engineyard.png" width="75" alt="Engine Yard" title="Engine Yard" /></a></p>
        </div>
        <div>
          <h3>Bronze Sponsors</h3>
          <p><a href="http://www.wyeworks.com"><img src="images/logo_wyeworks.png" width="110" alt="WyeWorks" title="WyeWorks" /></a></p>
          <p><a href="http://www.newleaders.com"><img src="images/logo_newleaders.png" width="120" alt="New Leaders" title="New Leaders" /></a></p>
          <p><a href="http://www.openhosting.com"><img src="images/logo_ohi.png" width="120" alt="OpenHosting" title="OpenHosting" /></a></p>
          <p><a href="http://www.hybridgroup.com"><img src="images/logo_hybridgroup.png" width="130" alt="The Hybrid Group" title="The Hybrid Group" /></a></p>
          <p><a href="http://www.stickermule.com"><img src="images/logo_stickermule.png" width="130" alt="Stickermule" title="Stickermule" /></a></p>
        </div>
        <p>
          Interested in Sponsoring GoGaRuCo?<br /><a href="resources/Prospectus_8-4.pdf">Download the Prospectus</a>,<br />
          or <a href="mailto:sponsors@gogaruco.com">contact Leah Silber</a> for more info!
        </p>
      </div><!-- /our_lovable_5p0n50rz -->
    </div><!-- /col_right -->
  </div><!-- /contentwrapper -->
</div>
<div id="footer">
  <div class="adroit">
    <p><a href="http://2009.gogaruco.com/">[2009]</a> [2010]</p>
  </div>
  <p>&copy; 2010 golden gate ruby conference, llc</p>
</div>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-7133758-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
