<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>GoGaRuCo 2010: {{ page.title }}</title>
  <link href="stylesheets/styles.css" rel="stylesheet" type="text/css" media="screen" />
  <link href="stylesheets/facebox.css" rel="stylesheet" type="text/css" media="screen" />
  <script src="javascripts/jquery.js"></script>
  <script src="javascripts/jquery.bxcarousel.min.js"></script>
  <script src="javascripts/facebox.js"></script>
  <script src="javascripts/application.js"></script>
  <!--[if IE 6]>
  <script src="javascripts/pngfix.js"></script>
  <script>
  DD_belatedPNG.fix('#logo');
  DD_belatedPNG.fix('.button');
  </script>
  <![endif]-->
</head>
<body>
<div id="wrapper">
  <div id="header"> <a href="index.html"><img src="images/logo.png" id="logo" /></a>
    <div class="hdrcopy">
      <p class="when">September 17-18, 2010</p>
      <p class="where">San Francisco, California at
        <a href="/location.html">UCSF Mission Bay</a></p>
      <div class="cta">
        <p><strong>Space is limited</strong></p>
        <p class="button"><a href="register.html">Register Now!</a></p>
      </div>
    </div>
    <ul id="nav_top">
      <li {{ page.nav_class_home      }}><a href="index.html">Home</a></li>
      <li {{ page.nav_class_speakers  }}><a href="speakers.html">Speakers</a></li>
      <li {{ page.nav_class_sponsors  }}><a href="sponsors.html">Sponsors</a></li>
      <li {{ page.nav_class_schedule  }}><a href="schedule.html">Schedule</a></li>
      <li {{ page.nav_class_community }}><a href="community.html">Community</a></li>
      <li {{ page.nav_class_location  }}><a href="location.html">Location</a></li>
      <li {{ page.nav_class_register  }}><a href="register.html">Register</a></li>
    </ul>
  </div><!-- /header -->

  <div id="contentwrapper">
    <div id="col_main">
      <div id="content">

        {{ content }}

      </div>
    </div><!-- /col_main -->

    <div id="col_right">
      <h2>Brought To You By</h2>
      <div class="sponsors">
        <div>
          <h3>Platinum Sponsors</h3>
          <!-- <p><img src="images/logo_engine_yard.gif" width="90" height="146" alt="engine yard" /></p>
          <p><img src="images/logo_att_interactive.gif" width="134" height="70" /></p>-->
          <p><a href="http://www.newrelic.com"><img src="images/logo_newrelic.png" width="150" alt="New Relic" /></a></p>
          <p><a href="http://www.pivotallabs.com"><img src="images/logo_pivotal.gif" width="150" alt="Pivotal Labs"></a></p>
          <p><img src="images/logo_fake.png" height="150" alt="Sponsor GoGaRuCo!" /></p>
        </div>
        <!-- <div>
          <h3>Gold Sponsors</h3>
          <p><img src="images/logo_scribd.gif" width="179" height="57" alt="scribd" /></p>
        </div>
        <div>
          <h3>Silver Sponsors</h3>
          <p><img src="images/logo_integrum.gif" width="179" height="69" alt="integrum" /></p>
          <p><img src="images/logo_jsconf.gif" width="179" height="114" alt="jsconf" /></p>
        </div> -->
        <p>Interested in Sponsoring GoGaRuCo?<br /><a href="resources/Prospectus_7-6.pdf">Download the Prospectus</a>,<br />or <a href="mailto:sponsors@gogaruco.com">contact Leah Silber</a> for more info!</p>
      </div><!-- /sponsors -->
    </div><!-- /col_right -->
  </div><!-- /contentwrapper -->
</div>
<div id="footer">
  <p>&copy; 2010 golden gate ruby conference, llc</p>
</div>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-7133758-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
