<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>GoGaRuCo 2010: {{ page.title }}</title>
  <link href="stylesheets/styles.css" rel="stylesheet" type="text/css" media="screen" />
  <link href="stylesheets/facebox.css" rel="stylesheet" type="text/css" media="screen" />
  <script src="javascripts/jquery.js"></script>
  <script src="javascripts/jquery.bxcarousel.min.js"></script>
  <script src="javascripts/facebox.js"></script>
  <script src="javascripts/application.js"></script>
  <!--[if IE 6]>
  <script src="javascripts/pngfix.js"></script>
  <script>
  DD_belatedPNG.fix('#logo');
  DD_belatedPNG.fix('.button');
  </script>
  <![endif]-->
</head>
<body>
<div id="wrapper">
  <div id="header"> <a href="index.html"><img src="images/logo.png" id="logo" /></a>
    <div class="hdrcopy">
      <p class="when">September 16-17, 2011</p>
      <p class="where">San Francisco, California at
        <a href="/location.html">UCSF Mission Bay</a></p>
      <!-- <div class="cta">
        <p><strong>Space is limited</strong></p>
        <p class="button"><a href="register.html">Register Now!</a></p>
      </div> -->
    </div>
    <ul id="nav_top">
    </ul>
  </div><!-- /header -->

  <div id="contentwrapper">
    <div id="col_main">
      <div id="content">

        {{ content }}

      </div>
    </div><!-- /col_main -->

  </div><!-- /contentwrapper -->
</div>
<div id="footer">
  <div class="adroit">
    <p>
      <a href="http://2009.gogaruco.com/">[2009]</a>
      <a href="http://2010.gogaruco.com/">[2010]</a>
    </p>
  </div>
  <p>&copy; 2011 golden gate ruby conference, llc</p>
</div>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-7133758-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
