<div id="sponsoring">
  <div class="row">
    <div class="large-12 columns">
      <span id="about-sponsoring">Sponsoring the <strong>Golden Gate Ruby Conference</strong> is a great way to get access to the top Ruby talent in San Francisco, and from around the world. Whether your goals are recruiting, brand awareness, developer adoption, or anything else, we bring together several hundred highly qualified engineers, in an intimate, network-heavy environment.</span><br/>
      <span id="learn-more">To learn more about sponsoring, download the Prospectus or contact Leah Sliber.</span>
    </div>
  </div>
</div>