<div class="action">
  <div class="row">
    <div class="large-6 columns">
      <span class="tagline">Explore New Possibilities</span><br/>
      <span class="sub-tagline light_extended">In the birthplace of the web revolution</span>
      <button>Submit a talk</button>
    </div>
    <div class="large-6 columns">
      <img src="images/pink-robot.png"/>
    </div>
  </div>
</div>

<div style="height: 50px; background-image: url('images/3D-bg.png')"></div>
