<div id="banner">
  <div class="row">

    <div class="large-7 columns">
      <div class="banner-title">
        Explore&nbsp;New Possibilities
      </div>
      <div class="banner-subtitle">
        In&nbsp;the&nbsp;birthplace&nbsp;of the&nbsp;web&nbsp;revolution
      </div>
      <div class="annotated-button">
        <a class="banner-button" onclick="alert('We said SOON!'); return false">
          <span>Registration Opens Soon!</span>
        </a>
        <!--
        <div class="annotation">Only 100 early-bird seats</div>
        -->
      </div>
    </div>

    <div class="banner-robot"><%= image_tag "pink-robot.png" %></div>

  </div>
</div>
