<div id="banner">
  <div class="row">

    <div class="large-7 columns">
      <div class="banner-title">
        Explore&nbsp;New Possibilities
      </div>
      <div class="banner-subtitle">
        In&nbsp;the&nbsp;birthplace&nbsp;of the&nbsp;web&nbsp;revolution
      </div>
      <div class="annotated-button">
        <a class="banner-button" href="registration.html">
          <span>Save Your Seat Now</span>
        </a>
      </div>
    </div>

    <div class="banner-robot"><%= image_tag "pink-robot.png" %></div>

  </div>
</div>
