<div id="banner">
  <div class="row">

    <div class="large-7 columns">
      <div class="banner-title">
        Explore&nbsp;New Possibilities
      </div>
      <div class="banner-subtitle">
        In&nbsp;the&nbsp;birthplace&nbsp;of the&nbsp;web&nbsp;revolution
      </div>
      <button class="banner-button">
        Propose a talk
      </button>
    </div>
    
    <div class="large-5 columns">
      <div class="banner-robot">
        <%= image_tag "pink-robot.png" %>
      </div>
    </div>

  </div>
</div>
