<div id="basic-info">
  <div class="leading-strip"></div>

  <div class="row">
    <div class="large-4 columns">
      <div class="sponsor-arrow">
        <span class="sponsor-arrow-caption">We <%= image_tag '../images/heart.png' %> our Sponsors</span>
      </div>
    </div>
    
    <div class="large-3 columns">
      <div class="gogaruco-when-where">
        <div class="gogaruco-when-where-heading">Gogaruco</div>
        <div class="gogaruco-when-where-address-line1">UCSF Mission Bay</div>
        <div class="gogaruco-when-where-address-line2">San Francisco, CA</div>
        <div class="gogaruco-when-where-dates">20-21 Sep | 2013</div>
      </div>      
    </div>
    
    <div class="large-3 columns">
      <div class="usa-map">
        <img src="images/location-map.jpg"/>
      </div>
    </div>
    
    <div class="large-2 columns">
      <div class="countdown">
        <div class="countdown-number">146</div>
        <div class="countdown-caption">days away</div>
      </div>
    </div>
  </div>
</div>
