<div id="code-of-conduct-heading">
  <h2>Code Of Conduct</h2>
</div>
<div id="code-of-conduct">
  <div class="row">
    <div id="policy">
      <p>Golden Gate Ruby Conference (GoGaRuCo) is meant to be an inclusive, welcoming conference for everyone. We will not permit harassment of conference participants in any form. Participants asked to stop any harassing behavior are expected to comply immediately.</p>
      <p>We reserve the right to warn or expel offenders from the conference with no refund, and to bar them from future participation (both speaking and attendance). If you are being harassed, see someone else being harassed, or have any other concerns on-site please contact one of the conference organizers or volunteers (identifiable by their staff shirts) immediately.</p>
      <p>We have adapted this anti-harassment policy from a sample provided by Geek Feminism.</p>
    </div>
  </div>
</div>
