<div id='conduct'>
  <div class="conduct-heading">
    <h2>Code of Conduct</h2>
  </div>

  <div class="conduct-content">
    <div class="row">
      <div class="large-8 large-centered columns">
        <div class="shade">
          <p>
            Golden Gate Ruby Conference (GoGaRuCo) is intended to be an inclusive, welcoming conference for
            everyone. We will not permit harassment of conference participants in any form. Participants
            asked to stop any harassing behavior are expected to comply immediately.
          </p>
          <p>
            We reserve the right to warn or expel offenders from the conference with no refund, and to
            bar them from future participation (both speaking and attendance).
          </p>
          <p>
            If you are being harassed, see someone else being harassed, or have any other concerns
            on-site please contact one of the conference organizers or volunteers (identifiable by their
            staff shirts) immediately.
          </p>
          <p>
            We have adapted this policy from a
            <a href="http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Policy">sample</a>
            provided by Geek Feminism.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
