<div id="diamond-sponsors-heading">
  <h2>Diamond</h2>
</div>
<div id="diamond-sponsors" class="sponsor_section">
  <div class="row">
    <div class="large-3 columns large-centered">
      <a href="http://www.newrelic.com">
        <div class="sponsor-image">
          <%= image_tag 'sponsors/new_relic.png' %>
        </div>
      </a>

      <p>
        <a href="http://www.newrelic.com">New Relic</a> is on a mission to create a better web and mobile experience for
        everyone by making apps faster and more reliable. With over 50,000 active accounts and 90 billion metrics
        captured each day, they help make the web and your mobile apps a faster place.
      </p>
    </div>
  </div>
</div>
