<div id="diamond-sponsors-heading">
  <h2>Diamond</h2>
</div>
<div id="diamond-sponsors" class="sponsor_section">
  <div class="row">
    <% data.sponsors.diamond.each_slice(4) do |sponsors| %>
        <% sponsors.each do |sponsor| %>
            <div class="large-3 columns">
              <a href="<%= sponsor.link %>">
                <div class="sponsor-image">
                  <%= image_tag "sponsors/#{sponsor.logo}" %>
                </div>
              </a>

              <p>
                <%= sponsor.text %>
              </p>
            </div>
        <% end %>
    <% end %>
  </div>
</div>
