<div id="diamond-sponsors-heading">
  <h2>Diamond</h2>
</div>
<div id="diamond-sponsors" class="sponsor_section">
  <div class="row">
    <div class="large-3 columns">
      <div class="sponsor-image">
        <%= image_tag 'sponsors/tilde.png' %>
      </div>
      <p>
        <em>Sharethrough</em> is a technology company leading the charge towards a <em>post-advertising era</em>. We're
        working with brands like Volkswagen and Old Spice to create a monetization platform for publishers using our
        suite of non-interruptive and choice-based products. Located within walking distance to the Ferry Building and
        voted one of the "2011 Best Places to Work in the Bay Area,” we’re a revenue-positive startup investing heavily
        in engineering (conferences, training and dual 27” iMacs!). Can you speak Rails, Backbone or Hadoop? Are you
        comfortable optimizing 100-instance Elastic MapReduce jobs over 10TB of data? Enjoy working in small, tight-knit
        teams with plenty of time for hack days?
      </p>
    </div>
    <div class="large-3 columns">
      <div class="sponsor-image">
        <%= image_tag 'sponsors/tilde.png' %>
      </div>
      <p>
        <em>New Relic, Inc</em>. is the all-in-one web application performance management provider for the cloud and the
        data center. Its SaaS solution, which combines real user monitoring, application monitoring, and availability
        monitoring in a single solution built from the ground up, changes the way developers and operations teams manage
        web application performance in real-time. More than 20,000 organizations use New Relic to optimize over 8
        billion transactions in production each day.
      </p>
    </div>
    <div class="large-3 columns">
      <div class="sponsor-image">
        <%= image_tag 'sponsors/tilde.png' %>
      </div>
      <p>
        <em>Pivotal Labs</em> is a recognized leader in Agile, Rails, and mobile development. We've been building high
        reliability systems for clients for over 20 years, and our Rails practice has delivered more than 100 client
        products since its launch less than five years ago. Long a leader in the Agile development world, we’ve been
        applying agile techniques to accelerate development, reduce risk, and increase responsiveness to market trends
        for startups and enterprises alike. And Pivotal doesn't just deliver a great product, we also equip our clients
        to execute on their own, giving them the tools and techniques they need to continue to excel.
      </p>
    </div>
    <div class="large-3 columns">
      <div class="sponsor-image">
        <%= image_tag 'sponsors/tilde.png' %>
      </div>
      <p>
        <em>ThoughtWorks</em> is a software company. We’re also an amazing collection of humans, hired for our passion,
        integrity and special powers. The company was founded as a social experiment – what happens when you hire really
        smart, passionate people and set them loose on really tough problems? 19 years on, this collection of people has
        helped shape the IT industry. The problem we set ourselves now is to use software to improve humanity - becoming
        a role model for 21st century socially responsible companies.
      </p>
    </div>
  </div>
</div>
