<div id='featured-speakers'>
  <div class="featured-speakers-heading">
    <h2>
      Past Speakers
    </h2>
  </div>

  <div class="featured-speakers-list">
    <div class="row">
      <ul class="large-block-grid-4 small-block-grid-2">
        <li class="featured-speaker">
          <%= image_tag '../images/speakers/sandi_metz.jpeg' %> 
          <div class="featured-speaker-name">Sandi Metz</div>
          <div class="featured-speaker-title">Programmer, Author</div>
        </li>
        <li class="featured-speaker">
          <%= image_tag '../images/speakers/charles_nutter.jpeg' %> 
          <div class="featured-speaker-name">Charles Nutter</div>
          <div class="featured-speaker-title">JRuby Guy at Red Hat</div>
        </li>
        <li class="featured-speaker">
          <%= image_tag '../images/speakers/glenn_vanderburg.jpeg' %> 
          <div class="featured-speaker-name">Glen Vanderburg</div>
          <div class="featured-speaker-title">Progammer, LivingSocial</div>
        </li>
        <li class="featured-speaker">
          <%= image_tag '../images/speakers/yehuda_katz.jpeg' %> 
          <div class="featured-speaker-name">Yehuda Katz</div>
          <div class="featured-speaker-title">Founder, Tilde Inc.</div>
        </li>
      </ul>
    </div>    
  </div>  
</div>
