<div id="small_banner">
  <div class="row">
    <div class="banner-sash">
      <h2><%= title %></h2>
      <div class="banner-robot"><%= image_tag 'pink-robot.png' %></div>
    </div>
  </div>
</div>
<div class="leading-strip"></div>
