<div class="ribbon" style="background-color: #f9bf12;">
  <h2>
    Past Speakers
  </h2>
</div>
<div id="guest_speakers">
  <div class="row">
    <div class="large-3 columns speaker">
      <img src="images/speakers/sandi_metz.jpeg"/>
      <span class="name">Sandi Metz</span>
      <span class="title">Programmer, Author</span>
    </div>
    <div class="large-3 columns speaker">
      <img src="images/speakers/charles_nutter.jpeg"/>
      <span class="name">Charles Nutter</span>
      <span class="title">JRuby Guy at Red Hat</span>
    </div>
    <div class="large-3 columns speaker">
      <img src="images/speakers/glenn_vanderburg.jpeg"/>
      <span class="name">Glen Vanderburg</span>
      <span class="title">Progammer, LivingSocial</span>
    </div>
    <div class="large-3 columns speaker">
      <img src="images/speakers/yehuda_katz.jpeg"/>
      <span class="name">Yehuda Katz</span>
      <span class="title">Founder, Tilde Inc.</span>
    </div>
  </div>
</div>
