<div id="platinum-sponsors-heading">
  <h2>Platinum</h2>
</div>
<div id="platinum-sponsors" class="sponsor_section">
  <div class="row">
    <div class="large-6 columns large-centered">
      <div class="large-4 columns">
        <div class="sponsor-image">
          <%= image_tag 'sponsors/tilde.png' %>
        </div>
      </div>
      <div class="large-8 columns">
        <p><a href="http://www.tilde.io">Tilde</a> is an open-source focused startup in San Francisco. We're led by alumni and current leaders of projects like Ruby on Rails, jQuery, and most recently, <a href="http://www.emberjs.com">Ember</a>. We provide training and consulting services while contributing funds and resources back into building and maintaining the vibrant open source communities we love.</p>
      </div>
    </div>
  </div>
</div>