<div id="registration">
  <div class="row">
    <div class="large-6 columns">
      <h1>Register for Gogaruco 2013</h1>
      <span id="about-registration">Registration for the <strong>Golden Gate Ruby Conference</strong> gets you a slew of benefits, some sweet swag, access to great parties and evening events, and of course, the company of top-notch Ruby talent!</span><br/>
      <div id="refunds">
        <h2>Refunds and Transfers</h2>
        <span id="learn-more">Refunds are available until August 13, 2013, 11:59pm EST, for price paid minus the processing fees paid at time of purchase. After that, tickets can only be transferred. The deadline for ticket transfers is August 27, 2012 at 11:59pm EST. Email the team with any questions or to arrange transfers.</span>
      </div>
    </div>
    <div class="large-6 columns">
      <iframe  src="http://www.eventbrite.com/tickets-external?eid=7174447967&ref=etckt&v=2" frameborder="0" height="293" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
    </div>
  </div>
</div>
