<div class="robot-group">
  <div class="row">
    <img src="images/robot-group.png"/>
  </div>
</div>

<div class="footer-overlap">
  <!-- This covers the difference between the height of the robot-group image and the height of the robot-group div.-->
</div>
