<% if data.sponsors.silver.present? %>
    <div id="silver-sponsors-heading">
      <h2>Silver</h2>
    </div>
    <div id="silver-sponsors" class="sponsor_section">
      <% data.sponsors.silver.each_slice(3) do |sponsors| %>
          <div class="row">
            <% sponsors.each do |sponsor| %>
                <div class="large-4 columns">
                  <div class="sponsor_wrapper">
                    <div class="sponsor-image">
                      <a href="<%= sponsor.link %>">
                        <%= image_tag "sponsors/#{sponsor.logo}" %>
                      </a>
                    </div>
                  </div>
                  <p>
                    <%= sponsor.text %>
                  </p>
                </div>
            <% end %>
          </div>
      <% end %>
    </div>
<% end %>