<div id='featured-speakers'>
  <div class="featured-speakers-heading">
    <h2>Guest Speakers</h2>
  </div>

  <div class="featured-speakers-list">
    <div class="row">
      <ul class="large-block-grid-4 small-block-grid-2">
        <% data.speakers.featured.each do |speaker| %>
          <li class="featured-speaker">
            <%= image_tag "speakers/#{speaker.slug}.jpg" %>
            <div class="featured-speaker-name">
              <%= speaker.name %>
            </div>
            <div class="featured-speaker-twitter">
              <a href="https://twitter.com/<%= speaker.twitter %>">@<%= speaker.twitter %></a>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
