<div id="small_banner">
  <div class="row">
    <div class="large-8 columns">
      <h2>Event Sponsors</h2>
    </div>
    <div class="large-4 columns">
      <img src="images/pink-robot.png"/>
    </div>
  </div>
</div>
<div class="leading-strip"></div>
