<div id="the-big-idea">
  <div class="the-big-idea-heading">
    <h2>
      The Big Idea
    </h2>
  </div>

  <div class="the-big-idea-content">
    <div class="row">
      <div class="large-5 columns">
        <div class="speech-bubble row">
          Why not join us for the <br/>5<sup>th</sup> Annual Gogaruco?
        </div>

        <div class="row">
          <p>San Francisco is the birthplace of the web revolution. <strong>Ruby</strong> powers many new technologies, from
            web sites to telphony and desktop applications.
            Join us for two days of in-depth technical explorations of the most interesting parts of the Ruby landscape,
            presented by some of the top talents in the Ruby development community.
          </p>
        </div>
      </div>

      <div class="large-3 columns">
        <%= image_tag 'cyan-green-robots-diamond.png' %> 
      </div>

      <div class="large-4 columns">
        <h4>What your ticket gets you</h4>
        <ul>
          <li>Admission to two days<br/>of talk sessions</li>
          <li>Access to any<br/>after-hour parties</li>
          <li>Official Conference Swag</li>
          <li>Breakfast, Lunch and Snacks on both days</li>
          <li>Access to our fantastic attendees and speakers</li>
        </ul>
      </div>

    </div>
  </div>
</div>
