<div class="tweeter_section">
  <div class="row">
      <div class="tweet">
        <%= image_tag 'yellow-robot.png' %>
        <p>I am a tweet. I have exactly 140 characters. If you want to make sure that I only have 140 #characters you can check for yourself. 0123456789 </p>
        <%= image_tag 'twitter-button.png' %>
      </div>
      <div style="clear: both"></div>
  </div>
</div>