<div class="action">
  <div class="row">
    <div class="large-5 columns">
      <span class="tagline">Explore New Possibilities</span><br/>
      <span class="sub-tagline">In the birthplace of the web revolution</span>
      <button>Save your Seat Now</button>
    </div>
    <div class="large-7 columns">
      <img src="images/pink-robot.png"/>
    </div>
  </div>
</div>
