<div class="action">
  <div class="row">
    <div class="large-5 columns">
      <span class="tagline">Explore New Possibilities</span><br/>
      <span class="sub-tagline">In the birthplace of the web revolution</span>
      <button>Save your Seat Now</button>
    </div>
    <div class="large-7 columns">
      <img src="images/pink-robot.png"/>
    </div>
  </div>
</div>

<div class="sponsors" style="height: 200px;"></div>
<div class="robot-group">
  <div class="row">
    <img src="images/robot-group.png"/>
  </div>
</div>
<div class="footer-overlap">
  <!-- This covers the difference between the height of the robot-group image and the height of the robot-group div.-->
</div>
