<div class="action">
  <div class="row">
    <div class="large-6 columns">
      <span class="tagline">Explore New Possibilities</span><br/>
      <span class="sub-tagline light_extended">In the birthplace of the web revolution</span>
      <button>Propose a Speech</button>
    </div>
    <div class="large-6 columns">
      <img src="images/pink-robot.png"/>
    </div>
  </div>
</div>

<div style="height: 50px; background-image: url('images/3D-bg.png')"></div>

<div class="basic_info">
  <div class="row">
    <div id="our_sponsors" style="width: 335px; float: left;">
      <div id="sponsor_arrow">
        <span id="we_heart_em">We <img src='images/heart.png'> our Sponsors</span>
      </div>
    </div>
    <div style="width: 300px; float: left;">
      <div id="location_and_date">
        <span class="large" style="letter-spacing: 1px; word-spacing: 1px;">Gogaruco</span>
        <span class="smaller light_extended" style="letter-spacing: 4px; word-spacing: 3px; margin-top: 39px;">UCSF Mission Bay</span>
        <span class="smaller light_extended" style="letter-spacing: 3px; word-spacing: 0px; margin-top: 10px;">San Francisco, CA</span>
        <span class="smaller bold_extended" style="letter-spacing: 4px; word-spacing: 1px; margin-top: 28px;">20-21 Sep | 2013</span>
      </div>
    </div>
    <div style="width: 278px; float: left; margin-top: 20px;">
      <img src="images/location-map.jpg" style="padding-left: 25px;"/>
    </div>
    <div style="width: 256px; float: left; margin-top: 20px;">
      <div id="days_until_conference">
        <span style="font-size: 72px;">146</span><br/>
        <span class="subtext">days away</span>
      </div>
    </div>
  </div>
</div>

<!-- Failed attempt at getting "Guest Speakers" banner below. -->
<!--<div style="background-color: #f9bf12; margin: 0 auto; text-align: center; height: 44px">-->
<!--<div style="height: 88px; background-image: url(images/title-ribbon.png);">-->
<!--Guest Speakers-->
<!--</div>-->
<!--</div>-->

<div id="guest_speakers">
  <div class="row">
    <div class="large-3 columns speaker">
      <img src="images/speakers/sandi_metz.jpeg"/>
      <span class="name">Sandi Metz</span>
      <span class="title">Programmer, Author</span>
    </div>
    <div class="large-3 columns speaker">
      <img src="images/speakers/charles_nutter.jpeg"/>
      <span class="name">Charles Nutter</span>
      <span class="title">JRuby Guy at Red Hat</span>
    </div>
    <div class="large-3 columns speaker">
      <img src="images/speakers/glenn_vanderburg.jpeg"/>
      <span class="name">Glen Vanderburg</span>
      <span class="title">Progammer, LivingSocial</span>
    </div>
    <div class="large-3 columns speaker">
      <img src="images/speakers/yehuda_katz.jpeg"/>
      <span class="name">Yehuda Katz</span>
      <span class="title">Founder, Tilde Inc.</span>
    </div>
  </div>
</div>


<div class="sponsors" style="height: 200px;"></div>
<div class="robot-group">
  <div class="row">
    <img src="images/robot-group.png"/>
  </div>
</div>
<div class="footer-overlap">
  <!-- This covers the difference between the height of the robot-group image and the height of the robot-group div.-->
</div>
