<div class="action">
  <div class="row">
    <div class="large-6 columns">
      <span class="tagline">Explore New Possibilities</span><br/>
      <span class="sub-tagline light_extended">In the birthplace of the web revolution</span>
      <button>Submit a talk</button>
    </div>
    <div class="large-6 columns">
      <img src="images/pink-robot.png"/>
    </div>
  </div>
</div>

<div style="height: 50px; background-image: url('images/3D-bg.png')"></div>

<div class="basic_info">
  <div class="row">
    <div id="our_sponsors" class="large-4 columns">
      <div id="sponsor_arrow">
        <span id="we_heart_em">We <img src='images/heart.png'> our Sponsors</span>
      </div>
    </div>
    <div class="large-3 columns">
      <div id="location_and_date">
        <span class="large" style="letter-spacing: 1px; word-spacing: 1px;">Gogaruco</span>
        <span class="smaller light_extended" style="letter-spacing: 4px; word-spacing: 3px; margin-top: 39px;">UCSF Mission Bay</span>
        <span class="smaller light_extended" style="letter-spacing: 3px; word-spacing: 0; margin-top: 10px;">San Francisco, CA</span>
        <span class="smaller bold_extended" style="letter-spacing: 4px; word-spacing: 1px; margin-top: 28px;">20-21 Sep | 2013</span>
      </div>
    </div>
    <div style="margin-top: 20px;"  class="large-3 columns">
      <img src="images/location-map.jpg" style="padding-left: 25px;"/>
    </div>
    <div style="margin-top: 20px;" class="large-2 columns">
      <div id="days_until_conference">
        <span id="number">146</span><br/>
        <span class="subtext">days away</span>
      </div>
    </div>
  </div>
</div>

<div class="ribbon" style="background-color: #f9bf12;">
  <h2>
    Past Speakers
  </h2>
</div>

<div id="guest_speakers">
  <div class="row">
    <div class="large-3 columns speaker">
      <img src="images/speakers/sandi_metz.jpeg"/>
      <span class="name">Sandi Metz</span>
      <span class="title">Programmer, Author</span>
    </div>
    <div class="large-3 columns speaker">
      <img src="images/speakers/charles_nutter.jpeg"/>
      <span class="name">Charles Nutter</span>
      <span class="title">JRuby Guy at Red Hat</span>
    </div>
    <div class="large-3 columns speaker">
      <img src="images/speakers/glenn_vanderburg.jpeg"/>
      <span class="name">Glen Vanderburg</span>
      <span class="title">Progammer, LivingSocial</span>
    </div>
    <div class="large-3 columns speaker">
      <img src="images/speakers/yehuda_katz.jpeg"/>
      <span class="name">Yehuda Katz</span>
      <span class="title">Founder, Tilde Inc.</span>
    </div>
  </div>
</div>

<div class="ribbon" style="margin-top: -44px;">
  <h2>
    The Big Idea
  </h2>
</div>


<div id="the_big_idea" style="background-image: url(images/grey-noise-bg.jpg)">
  <div class="row ruby-background">
    <div class="large-5 columns">
      <div class="row" id="join_us" style="">
        <span style="color: #ffffff;">Why not join us for the <br/>5<sup>th</sup> Annual Gogaruco?</span>
      </div>
      <div class="row">
        <p>San Francisco is the birthplace of the web revolution. <strong>Ruby</strong> powers many new technologies, from
          web sites to telphony and desktop applications.
          Join us for two days of in-depth technical explorations of the most interesting parts of the Ruby landscape,
          presented by some of the top talents in the Ruby development community.</p>
        </div>
      </div>
    <div class="large-3 columns">
      <img src="images/cyan-green-robots.png"/>
    </div>
    <div class="large-4 columns">
    <h4>What your ticket gets you</h4>
    <ul>
      <li>Admission to two days of talk sessions</li>
      <li>Access to any after-hour parties</li>
      <li>Official Conference Swag</li>
      <li>Breakfast, Lunch & Snacks on both days</li>
      <li>Access to our fantastic attendees & speakers</li>
    </ul>
    </div>
  </div>
</div>


<div class="sponsors" style="height: 1px;"></div>
<div class="robot-group">
  <div class="row">
    <img src="images/robot-group.png"/>
  </div>
</div>
<div class="footer-overlap">
  <!-- This covers the difference between the height of the robot-group image and the height of the robot-group div.-->
</div>
