<div class="action">
  <div class="row">
    <div class="large-5 columns">
      <span class="tagline">Explore New Possibilities</span><br/>
      <span class="sub-tagline">In the birthplace of the web revolution</span>
      <button>Save your Seat Now</button>
    </div>
    <div class="large-7 columns">
      <img src="images/pink-robot.png"/>
    </div>
  </div>
</div>

<div style="height: 50px; background-image: url('images/3D-bg.png')"></div>

<div class="basic_info" style="">
  <div class="row" style="padding-top: 64px">
    <div style="width: 335px; float: left;">
      We <img src='images/heart.png'> our Sponsors
      <div style="background-image: url('images/sponsor_arrow.png'); background-repeat: no-repeat; height: 185px;">
        Sponsor goes here!
      </div>
    </div>
    <div style="width: 300px; float: left;">
        <div style="width: 285px; background-image: url('images/basic_info_background.png'); background-repeat: repeat-x; height: 176px;">
          <span style="display: block; font-size: 25px;">Gogagruco</span>
          <span style="display: block; font-size: 16px; margin-top: 44px;">UCSF Mission Bay</span>
          <span style="display: block; font-size: 16px; margin-top: 10px;">San Francisco, CA</span>
          <span style="display: block; font-size: 16px; margin-top: 28px;">20-21 Sep | 2013</span>
        </div>
    </div>
    <div style="width: 278px; float: left; margin-top: 20px;">
      <img src="images/location-map.jpg" style="padding-left: 25px;"/>
    </div>
    <div style="width: 256px; float: left; margin-top: 20px;">
      <div id="days_until_conference" style="">146<span class="subtext">days away</span></div>
    </div>
  </div>
</div>

<div class="sponsors" style="height: 200px;"></div>
<div class="robot-group">
  <div class="row">
    <img src="images/robot-group.png"/>
  </div>
</div>
<div class="footer-overlap">
  <!-- This covers the difference between the height of the robot-group image and the height of the robot-group div.-->
</div>
