<%= partial 'page_banner', locals: {title: "Event Schedule"} %>


<div id="daily-sessions-header">
  <h2>Daily Sessions</h2>
</div>

<div id="daily-sessions">
  <div>Coming: TOMORROW</div>
</div>



<%= partial 'sponsors' %>
<%= partial 'robot_footer' %>
