<div id="small_banner">
  <div class="event-sponsors-heading">
    <h2>Event Sponsors</h2>
    <img src="images/pink-robot.png"/>
  </div>
</div>
<div class="leading-strip"></div>
<div id="sponsoring">
  <div class="row">
    <div class="large-12 columns">
      <span id="about-sponsoring">Sponsoring the <strong>Golden Gate Ruby Conference</strong> is a great way to get access to the top Ruby talent in San Francisco, and from around the world. Whether your goals are recruiting, brand awareness, developer adoption, or anything else, we bring together several hundred highly qualified engineers, in an intimate, network-heavy environment.</span><br/>
      <span id="learn-more">To learn more about sponsoring, download the Prospectus or contact Leah Sliber.</span>
    </div>
  </div>
</div>
<div id="diamond-sponsors-heading">
  <h2>Diamond</h2>
</div>
<div id="diamond-sponsors" class="sponsor_section">
  <div class="row">
    <div class="large-3 columns">
      <div class="sponsor-image">
        <img src="/images/sponsors/tilde.png">
      </div>
      <p>
        <em>Sharethrough</em> is a technology company leading the charge towards a <em>post-advertising era</em>. We're
        working with brands like Volkswagen and Old Spice to create a monetization platform for publishers using our
        suite of non-interruptive and choice-based products. Located within walking distance to the Ferry Building and
        voted one of the "2011 Best Places to Work in the Bay Area,” we’re a revenue-positive startup investing heavily
        in engineering (conferences, training and dual 27” iMacs!). Can you speak Rails, Backbone or Hadoop? Are you
        comfortable optimizing 100-instance Elastic MapReduce jobs over 10TB of data? Enjoy working in small, tight-knit
        teams with plenty of time for hack days?
      </p>
    </div>
    <div class="large-3 columns">
      <div class="sponsor-image">
        <img src="/images/sponsors/tilde.png">
      </div>
      <p>
        <em>New Relic, Inc</em>. is the all-in-one web application performance management provider for the cloud and the
        data center. Its SaaS solution, which combines real user monitoring, application monitoring, and availability
        monitoring in a single solution built from the ground up, changes the way developers and operations teams manage
        web application performance in real-time. More than 20,000 organizations use New Relic to optimize over 8
        billion transactions in production each day.
      </p>
    </div>
    <div class="large-3 columns">
      <div class="sponsor-image">
        <img src="/images/sponsors/tilde.png">
      </div>
      <p>
        <em>Pivotal Labs</em> is a recognized leader in Agile, Rails, and mobile development. We've been building high
        reliability systems for clients for over 20 years, and our Rails practice has delivered more than 100 client
        products since its launch less than five years ago. Long a leader in the Agile development world, we’ve been
        applying agile techniques to accelerate development, reduce risk, and increase responsiveness to market trends
        for startups and enterprises alike. And Pivotal doesn't just deliver a great product, we also equip our clients
        to execute on their own, giving them the tools and techniques they need to continue to excel.
      </p>
    </div>
    <div class="large-3 columns">
      <div class="sponsor-image">
        <img src="/images/sponsors/tilde.png">
      </div>
      <p>
        <em>ThoughtWorks</em> is a software company. We’re also an amazing collection of humans, hired for our passion,
        integrity and special powers. The company was founded as a social experiment – what happens when you hire really
        smart, passionate people and set them loose on really tough problems? 19 years on, this collection of people has
        helped shape the IT industry. The problem we set ourselves now is to use software to improve humanity - becoming
        a role model for 21st century socially responsible companies.
      </p>
    </div>
  </div>
</div>
<div id="platinum-sponsors-heading">
  <h2>Platinum</h2>
</div>
<div id="platinum-sponsors" class="sponsor_section">
  <div class="row">
    <div class="large-6 columns">
      <div class="large-4 columns">
        <div class="sponsor-image">
          <img src="/images/sponsors/tilde.png" width="50%">
        </div>
      </div>
      <div class="large-8 columns">
        <p><em>Square</em> is revolutionizing millions of everyday transactions between buyers and sellers with its free
          credit card reader for the iPhone, iPad, and Android devices, allowing anyone to accept credit cards anywhere,
          anytime. Square Register serves as a full point of sale system for businesses to accept payments, track
          inventory, and share menu and location information. Pay with Square is the most seamless way to pay, enabling
          individuals to pay with their name at their favorite local merchants, discover nearby businesses, explore menu
          listings and store receipts. Founded in 2009, and headquartered in San Francisco, Square is currently
          available in the U.S. More information is available at <em>squareup.com</em>.</p>
      </div>
    </div>
    <div class="large-6 columns">
      <div class="large-4 columns">
        <div class="sponsor-image">
          <img src="/images/sponsors/tilde.png" width="50%">
        </div>
      </div>
      <div class="large-8 columns">
        <p><em>LivingSocial</em> helps people discover the best of their city and merchants find valuable new customers
          – but we’re more than just a marketing platform. Driving our business are the best minds in programming,
          including language and Ruby Implementation creators and noted book authors. Our team operates in a constant
          software deployment using leading technologies to operate on massive scale. For more information, go to
          livingsocial.com/jobs .</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <div class="large-4 columns">
        <div class="sponsor-image">
          <img src="/images/sponsors/tilde.png" width="50%">
        </div>
      </div>
      <div class="large-8 columns">
        <p><em>Yammer</em> is an Enterprise Social Network that enables organizations t o make transformative changes
          quickly
          by empowering employees to collaborate across departments, geographies, content and business applications.
          More than 5 million users, including employees from 85 percent of the Fortune 500, have adopted Yammer’s
          Software-as-a-Service solution.</p>
      </div>
    </div>
    <div class="large-6 columns">
      <div class="large-4 columns">
        <div class="sponsor-image">
          <img src="/images/sponsors/tilde.png" width="50%">
        </div>
      </div>
      <div class="large-8 columns">
        <p><em>Lumosity</em> is the world’s largest provider of “brain games.” But these games are more than just
          fun—they’re cutting-edge, heavily researched cognitive exercises proven to make a difference in the lives of
          25 million members. Lumosity’s position at the intersection of science and technology makes it uniquely poised
          to change the world, one mind at a time.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <div class="large-4 columns">
        <div class="sponsor-image">
          <img src="/images/sponsors/tilde.png" width="50%">
        </div>
      </div>
      <div class="large-8 columns">
        <p><em>Outright</em>, online bookkeeping for small businesses, simplifies the work involved with running a small
          business. We organize sales and expenses data, help small business owners stay on top of their bottom line and
          prepare for tax time. Outright automates tedious tasks, so they can spend time doing what they love.</p>
      </div>
    </div>
  </div>
</div>
<div id="gold-sponsors-heading">
  <h2>Gold</h2>
</div>
<div id="gold-sponsors" class="sponsor_section">
  <div class="row">
    <div class="large-4 columns">
      <div class="sponsor_wrapper">
        <div class="sponsor-image">
          <img src="/images/sponsors/tilde.png">
        </div>
      </div>
      <p><em>Telmate</em> is a Mac-based Ruby development shop working to disrupt the managed telecom industry.
        Self-funded and proﬁtable, Telmate is not your normal web application gig; we’re not making another Twitter
        clone for your grandma. We dabble in all aspects of development, from trying to scale Ruby on Rails, building
        custom software stacks and custom hardware, and then smashing it with hammers. </p>
    </div>
    <div class="large-4 columns">
      <div class="sponsor_wrapper">
        <div class="sponsor-image">
          <img src="/images/sponsors/tilde.png">
        </div>
      </div>
      <p><em>Braintree</em> helps online and mobile businesses process credit card payments by providing a merchant
        account, payment gateway, recurring billing and credit card storage. The company is disrupting the payments
        industry by providing elegant tools for developers coupled with white-glove support. </p>
    </div>
    <div class="large-4 columns">
      <div class="sponsor_wrapper">
        <div class="sponsor-image">
          <img src="/images/sponsors/tilde.png">
        </div>
      </div>
      <p><em>Carbon Five </em> builds web and mobile products for innovative companies following a development process
        inspired by Agile and Lean UX. We've been creating compelling products, building teams and establishing
        effective and sustainable practices for more than 10 years. We work with startups at all stages, non-profit
        organizations and big companies. And we're doing it all using awesome new technology and the latest techniques.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns">
      <div class="sponsor_wrapper">
        <div class="sponsor-image">
          <img src="/images/sponsors/tilde.png">
        </div>
      </div>
      <p><em>Trappy</em> is a mobile advertising and publishing platform that empowers more than 600 million mobile
        users who choose to watch videos, subscribe to services, install applications and participate in other types of
        advertisements in exchange for virtual currency they can use in their favorite apps.hammers. </p>
    </div>
    <div class="large-4 columns">
      <div class="sponsor_wrapper">
        <div class="sponsor-image">
          <img src="/images/sponsors/tilde.png">
        </div>
      </div>
      <p><em>Blue Box Group</em> provides solutions for complex applications. We approach things differently by
        partnering with you to grow your infrastructure and build scalable, reliable configurations. Our unique blend of
        services allows us to provide for the full lifecycle of customer applications, from development through
        production. From 40 users to 40 million, we can help you take your business idea and turn it into a success.
      </p>
    </div>
    <div class="large-4 columns">
      <div class="sponsor_wrapper">
        <div class="sponsor-image">
          <img src="/images/sponsors/tilde.png">
        </div>
      </div>
      <p><em>Engine Yard</em> is the leading Platform as a Service (PaaS), empowering software application innovation
        more rapidly, easily and cost effectively. With deep technical expertise, powerful infrastructure orchestration,
        and strong support of the open source community, Engine Yard provides a complete solution that enables
        developers to focus on creating great applications, instead of managing their platform. </p>
    </div>
  </div>
</div>
<div id="silver-sponsors-heading">
  <h2>Silver</h2>
</div>
<div id="silver-sponsors" class="sponsor_section">
  <div class="row">
    <div class="large-4 columns">
      <div class="sponsor_wrapper">
        <div class="sponsor-image">
          <img src="/images/sponsors/tilde.png">
        </div>
      </div>
      <p><em>WyeWorks</em> is a team of web developers and design experts who build extreme high quality and reliable
        software using agile practices and Ruby on Rails technology. All work is carried out through an amazing
        experience of close collaboration, hard work, transparency and effective communication, building successful
        relations with our customers.</p>
    </div>
    <div class="large-4 columns">
      <div class="sponsor_wrapper">
        <div class="sponsor-image">
          <img src="/images/sponsors/tilde.png">
        </div>
      </div>
      <p><em>Blue Box Group</em> provides solutions for complex applications. We approach things differently by
        partnering with you to grow your infrastructure and build scalable, reliable configurations. Our unique blend of
        services allows us to provide for the full lifecycle of customer applications, from development through
        production. From 40 users to 40 million, we can help you take your business idea and turn it into a success.
      </p>
    </div>
    <div class="large-4 columns">
      <div class="sponsor_wrapper">
        <div class="sponsor-image">
          <img src="/images/sponsors/tilde.png">
        </div>
      </div>
      <p><em>HotelTonight</em> is a pioneer in mobile commerce, building the world’s best apps for booking same-day
        hotel deals. Our team takes enormous pride in delivering flawless experiences as we play matchmaker between
        people who need a hotel and otherwise-empty hotel rooms. We’re looking for Ruby engineers who share our passion
        for beautiful, simple and useful products. More at www.hoteltonight.com/jobs</p>
    </div>
  </div>
</div>